<!-- HERO SECTION -->
<!-- <section class="hero">
  <div class="container hero-wrap">
    <div class="hero-left">
      <h1>Write, Learn, and Live the Bhagavad Gita</h1>
      <p>Join India’s first 11-month Bhagavad Gita Writing Program — a journey to peace, purpose, and transformation through the sacred act of writing.</p>
      <div class="hero-buttons">
        <a routerLink="/join" class="btn dark">Join Now</a>
        <a routerLink="/program" class="btn outline">Know More</a>
      </div>
    </div>
    <div class="hero-right">
      <img src="assets/images/krishna-writing.jpg" alt="Lord Krishna Writing" />
    </div>
  </div>
</section> -->
<app-carousel></app-carousel>

<div class="about-main">
  <div class="about-section">
    <h2>Ancient Wisdom for Modern Lives</h2>
    <div class="about-inner">
      <div class="about-content">
        <p>At B Unique Sense, we believe ancient knowledge can beautifully blend with today’s lifestyle.</p>
        <p>Our structured Bhagavad Gita Writing Program helps individuals rediscover discipline, mindfulness, and devotion through the act of writing sacred verses daily.</p>
        <ul>
          <li>11 Months Discipline</li>
          <li>Cultural Revival</li>
          <li>Certified Completion</li>
          <li>Spiritual Guidance</li>
        </ul>
        <a routerLink="/about-us" class="btn outline">See More</a>
      </div>
      <div class="about-img">
        <img src="assets/images/about-img.jpg" alt="About Us" width="650" height="450">
      </div>
    </div>
  </div>
</div>

<!-- Bhagavad Gita Writing Program Highlight: -->
<section class="writing-section fixed-bg d-flex align-items-center justify-content-center text-white" data-aos="fade-up">
      <h2>Write. Reflect. Transform.</h2>
      <p>
        An 11-Month guided journey to write the Bhagavad Gita — 3 shlokas a day — supported by books, pens, spiritual mentorship, and a global community.
      </p>
      <div class="action-btns">
        <a routerLink="/writing-program" class="btn outline">Explore Program</a>
        <a routerLink="/join" class="btn dark">
          <span class="blue-text">Register Now</span>
          ₹11,999/-
        </a>
      </div>
</section>

<!-- why this needed -->

<div class="why-program">
  <h2>Why This Program is Special</h2>

  <div class="cards-section">

    <div class="card">
      <div class="card-icon">
        <img src="assets/images/icons/self-discipline.png" alt="discipline and focus" width="70" height="70">
      </div>
      <div class="card-text">
        Builds daily discipline and focus
      </div>
    </div>

  <div class="card">
      <div class="card-icon">
        <img src="assets/images/icons/inner.png" alt="discipline and focus" width="70" height="70">
      </div>
      <div class="card-text">
        Strengthens inner peace and mindfulness
      </div>
    </div>

  <div class="card">
      <div class="card-icon">
        <img src="assets/images/icons/knowledge.png" alt="discipline and focus" width="70" height="70">
      </div>
      <div class="card-text">
        Connects you with divine energy through writing
      </div>
    </div>

  <div class="card">
      <div class="card-icon">
        <img src="assets/images/icons/vegetarian.png" alt="discipline and focus" width="70" height="70">
      </div>
      <div class="card-text">
        Creates a lifelong spiritual habit
      </div>
    </div>
  </div>

</div>


<!-- ICON SECTION -->
<!-- <section class="section icons" data-aos="fade-up">
  <div class="container grid icons-grid">
    <div class="icon-card">
      <img src="assets/icons/calendar.svg" alt="11 Months Discipline" />
      <h4>11 Months Discipline</h4>
    </div>
    <div class="icon-card">
      <img src="assets/icons/fire.svg" alt="Cultural Revival" />
      <h4>Cultural Revival</h4>
    </div>
    <div class="icon-card">
      <img src="assets/icons/certificate.svg" alt="Certified Completion" />
      <h4>Certified Completion</h4>
    </div>
    <div class="icon-card">
      <img src="assets/icons/lotus.svg" alt="Spiritual Guidance" />
      <h4>Spiritual Guidance</h4>
    </div>
  </div>
</section> -->

<!-- call to action -->

<div class="call-action">
  <div class="call-action-inner">
    <h2> Are you ready to begin your inner journey?</h2>
    <div class="info-form">
      <div class="cont-info">
          <h3>Start today with B Unique Sense and let each shloka guide you toward clarity and purpose.</h3>
          <p>📍 [Office Address]</p>
          <p>📞 [Phone Number]</p>
          <p>✉️ [Email Address]</p>
      </div>
      <div class="cont-form" *ngIf="!showThankYou">
        <form #homeForm="ngForm" (ngSubmit)="submitHomeForm(homeForm)" novalidate>
          <div class="form-field">
            <label>Name</label>
            <input ngModel type="text" name="name" placeholder="Name" required />
          </div>
          <div class="form-field">
            <label>Email</label>
            <input ngModel type="email" name="email" placeholder="Email" required />
          </div>
          <div class="form-field">
            <label>Phone Number</label>
            <input ngModel type="tel" name="phone" placeholder="Phone Number" required />
          </div>
          <div class="form-field">
            <label>Message</label>
            <textarea ngModel name="message" placeholder="Message"></textarea>
          </div>
            <button 
              type="submit" 
              class="send-btn" 
              [disabled]="isSending">

              <ng-container *ngIf="!isSending">
                Send
              </ng-container>

              <ng-container *ngIf="isSending">
                <span class="loader"></span> Sending...
              </ng-container>

            </button>
        </form>
      </div>
      <!-- <div *ngIf="showThankYou" class="thankyou-message">
        <h3>Thank you! We received your message.</h3>
        <p>We'll get back to you soon.</p>
      </div> -->

      <success-message *ngIf="showThankYou"></success-message>

      <div *ngIf="showError" class="error-message">
        <h3>Something went wrong.</h3>
        <p>Please try again later.</p>
      </div>

    </div>
  </div>
</div>

<!-- TESTIMONIAL SECTION -->
<section class="section testimonial" data-aos="fade-up">
  <div class="container">
    <h2>Testimonials</h2>
    <div class="testimonial-card">
      <img src="assets/images/boy.png" alt="A Sharma" />
      <div class="testimonial-content">
        <p>
          “The Bhagavad Gita Writing Program has been a transformative journey for me. 
          I have gained a deeper understanding of the Gita’s teachings and found inner peace 
          through the daily writing practice.”
        </p>
        <h5>A. Sharma</h5>
      </div>
    </div>
  </div>
</section>
