.admin-wrapper {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #1e1e2d;
  color: #fff;
  padding: 20px 0;
  transition: 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed .collapse-hide{
  display: none;
}

.sidebar .brand {
  font-size: 20px;
  padding: 0 20px;
  margin-bottom: 25px;
  font-weight: bold;
}

.sidebar nav a {
  display: block;
  padding: 12px 20px;
  color: #ddd;
  text-decoration: none;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: #35354a;
  color: #fff;
}

.logout-btn {
  margin: 20px;
  padding: 10px;
  width: calc(100% - 40px);
  color: #fff;
  background: #e74c3c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* CONTENT AREA */
.content-area {
  flex: 1;
  background: #f6f7fb;
  display: flex;
  flex-direction: column;
}

.topbar {
  background: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.menu-btn {
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.page-content {
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 60px);
}
.close-btn {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    height: 100%;
    left: -240px;
     
  }

  .sidebar.collapsed {
    left: 0;
    width: 250px;
    z-index: 1000;
  }
  .sidebar .collapse-hide{
    display: none;
  }
  .sidebar.collapsed .collapse-hide{
    display: inline-flex;
  }
    .close-btn {
    display: block;
    background: transparent;
    border: none;
    color: white;
    font-size: 22px;
    padding: 12px;
    cursor: pointer;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.45);
    z-index: 900;
    display: block;
  }
}
