<div class="admin-wrapper">

    <div class="overlay" 
       *ngIf="collapsed"
       (click)="closeSidebar()"></div>

  <!-- Sidebar -->
  <aside class="sidebar" [class.collapsed]="collapsed">
    <!-- <div class="brand"> B Unique Sense </div> -->
        <button class="close-btn" (click)="closeSidebar()">✖</button>
    <nav>
      <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeSidebar()">
        🏠 <span class="collapse-hide">Dashboard</span> 
      </a>
      <a routerLink="/admin/orders" routerLinkActive="active">📦 <span class="collapse-hide" (click)="closeSidebar()">Orders</span> </a>
      <a routerLink="/admin/products" routerLinkActive="active">📦 <span class="collapse-hide" (click)="closeSidebar()">Products</span> </a>
      <a routerLink="/admin/guides" routerLinkActive="active">🧘 <span class="collapse-hide" (click)="closeSidebar()">Guides</span> </a>
      <a routerLink="/admin/users" routerLinkActive="active">👥 <span class="collapse-hide" (click)="closeSidebar()">Users</span> </a>
      <a routerLink="/admin/students" routerLinkActive="active">👨‍🎓 <span class="collapse-hide" (click)="closeSidebar()">Students</span></a>

      <!-- <button class="logout-btn" (click)="logout()">🚪 Logout</button> -->
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="content-area">

    <!-- Top Bar -->
    <header class="topbar">
      <button class="menu-btn" (click)="toggleSidebar()">☰</button>
      <div class="admin-title">Admin Panel</div>
    </header>

    <!-- Routed Pages Load Here -->
    <section class="page-content">
      <router-outlet></router-outlet>
    </section>
  </main>

</div>
