<div class="about-us-section">
    <div class="about-inner">
        <div class="heading">
            <div class="heading-text">
                <h1>Write. Learn. Awaken.</h1>
                <p>“When you write sacred words, you don’t just learn them — you live them.”</p>
                <img src="assets/images/bottom-curve.png" alt="border">
            </div>
        </div>
        <div class="content-body">
            <p>The Bhagavad Gita Writing Program is not just about writing—it’s about awakening your inner potential.</p>
            <p>Over 11 months, you will handwrite the entire Gita, three verses a day, supported by structured guidance and spiritual motivation.</p>
            <h2>Program Structure:</h2>
            <p><b>Duration:</b> 11 Months</p>
            <p><b>Daily Target:</b> 3 Shlokas</p>
            <p><b>Format:</b> Guided Online/Offline Program</p>
            <h2>You Will Receive:</h2>
            <ul class="check-list">
                <li>Bhagavad Gita Book</li>
                <li>7 Writing Books</li>
                <li>21 Pens</li>
                <li>Custom Spiritual Bag</li>
                <li>Doorstep Delivery</li>
                <li>Dedicated Teacher Support</li>
                <li>Office Maintenance Assistance</li>
            </ul>

            <div class="d-flex align-items-center gap-20 m-flex-direction-column">
                <h2>Program Fee:</h2><p class="mb-0"> ₹9,999 (All-Inclusive)</p>
            </div>
            <br>
            <h2>Benefits:</h2>
            <ul>
                <li>Gain focus and self-discipline</li>
                <li>Understand the Gita deeply through practice</li>
                <li>Reduce stress and mental clutter</li>
                <li>Build a sacred routine for 11 months</li>
                <li>Become part of a supportive, spiritual community</li>
            </ul>
            <a routerLink="#" class="btn outline">Register for the Program</a>
        </div>
    </div>
</div>
