/* Smooth Loader */
.guide-dashboard-main{
  padding: 2em 0;
}
.loader {
  border: 5px solid #ddd;
  border-top: 5px solid #6366f1;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 0.9s linear infinite;
  margin: auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
.avatar {
  width: 45px;
  height: 45px;
  background: linear-gradient(135deg,#4f46e5,#9333ea);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}
