<div class="about-us-section">
    <div class="about-inner">
        <div class="heading">
            <div class="heading-text">
                <h1>Our Story – Where Tradition Meets Transformation</h1>
                <img src="assets/images/bottom-curve.png" alt="border">
            </div>
        </div>
        <div class="content-body">
            <p>B Unique Sense is a spiritual organization dedicated to spreading ancient Indian wisdom in a way that fits today’s world. Our journey began with a simple vision — to help individuals experience the profound teachings of the Bhagavad Gita through writing, reflection, and practice.</p>
            <h2>Vision:</h2>
            <p>To be a one-stop destination for a spiritual journey, inspiring individuals to embrace ancient wisdom with a modern touch — fostering balanced and meaningful lives.</p>
            <h2>Mission:</h2>
            <ol>
                <li>To preserve and promote India’s cultural and spiritual heritage through structured Gita-based programs.</li>
                <li>To help individuals cultivate mindfulness, discipline, and peace through traditional practices.</li>
                <li>To empower people to align ancient wisdom with modern living.</li>
                <li>To create a global community of spiritually enriched individuals.</li>
            </ol>

             <a routerLink="#" class="btn outline">Explore Our Programs</a>
        </div>
    </div>
</div>
